{% extends 'base.html'%}
{% block content %}
<div style = "padding: 2vw;">
<div style="text-align: center; margin-bottom: 10vh;">
	<h1 class="display-4">Mensaje de consumo</h1>
</div>

<form action="/enviar_consumo" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<label for='file'>Carga tu archivo de consumo</label>
	<input type='file' id="file" name="file" accept="text/xml"/>
	<br/>
	<button type="submit" class="btn btn-dark btn-lg" style="margin-top: 2vh;"> Cargar </button>
</form>
</div>
{% endblock %}